<!DOCTYPE html>
<html>
<head>
  <title>JobBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
	<% if current_company %>
	 Logged as <%= current_company.name %> | 
	 <%= link_to 'New Job', new_job_path %> |
	<% else %>
	 <%= link_to "New Company", new_company_path %> | 
	 <%= link_to "Login", companies_login_path %> |
	<% end %>
	<%= link_to 'Premium jobs', root_path %> |
	<%= link_to 'Hello World', hello_world_path %>

</p>
<hr />

<p id="alert"> 
<%= alert %>
</p>

<p id="notice"> 
<%= notice %>
</p>

<%= yield %>

<br />


</body>
</html>
